.results_container {
  flex: 1;
  min-height: 30vh;
  // height: 100vh;
  // overflow: scroll;
  padding: 2%;
  margin-bottom: 10px;
  background-color: #efefef;
  border: ridge 5px #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .loading{
    text-align: center;
    line-height: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    align-self: center;
    animation: rotate 500ms linear infinite;
    
  }
  
  @keyframes rotate {
    to {
      transform: rotateZ(360deg);
    }
  }

  .error {
    text-align: center;
    color: red;
  }

  >* {
    margin: 20px 0;
  }

  .__json-pretty__ {
    overflow: scroll;
    line-height: 1.3;
    color: rgb(15, 34, 63);
    background: #efefef;
    overflow: auto;

    .__json-key__ {
      color: rgb(15, 34, 63);
    }

    .__json-value__ {
      color: rgb(240, 37, 37);
    }

    .__json-string__ {
      color: rgb(240, 37, 37);
    }

    .__json-boolean__ {
      color: rgb(112, 51, 192);
    }

    .__json-pretty-error__ {
      line-height: 1.3;
      color: rgba(248, 248, 242, 1);
      background: #1e1e1e;
      overflow: auto;
    }
  }
}
